body {
  background-color: blue;
}

.results{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.user{
background-color:white;
padding:10px;
border-radius:10px;
margin:10px;
p{
 border-bottom:2px solid black;
}
}
