body {
  background-color: blue;
}

.results{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.user{
height:300px;
background-color:white;
padding:10px;
border-radius:10px;
margin:10px;
  h3{
 border-bottom:2px solid black;
  }
}

.additionalInfo{
  display: none;
}
.selected{
  .additionalInfo{
    display: block;
  }
}
